@model ShortManagerViewModel

@{

}
<div class="card">
    <div class="card-body d-flex flex-row flex-wrap">
        <div class="d-flex flex-column">
            <div class="mr-1">
                @Model.Email
            </div>
            <div class="mr-1">
                @Model.FullName
            </div>
            <div class="mr-1">
                @Model.ManagerRole
            </div>
        </div>
        <div class="flex-column card-covert-content gap-1 ms-auto align-content-center">
            <a asp-controller="Manager" asp-action="Manager" asp-route-id="@Model.ManagerId" class="btn btn-warning">
                Изменить
            </a>
            <a class="btn btn-danger">
                Удалить
            </a>
        </div>
    </div>
</div>