@model ManagerProfileViewModel

@{
    ViewData["Title"] = "Профиль";
}

<div class="d-flex flex-column flex-wrap justify-content-center">
    <h2>Профиль</h2>

    <form asp-action="Profile" method="post" class="">
        <div class="d-flex flex-column flex-wrap gap-2">
            <input class="form-control" type="text" asp-for="ManagerId" hidden/>
            <input asp-for="FacultyId" type="text" class="form-control" hidden>
            <input asp-for="FacultyName" type="text" class="form-control" hidden>
         
            
            <div class="form-group">
                <label asp-for="FullName"></label>
                <input class="form-control" type="text" asp-for="FullName"/>
                <span class="text-danger" asp-validation-for="FullName"/>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input class="form-control" type="text" asp-for="Email"/>
                <span class="text-danger" asp-validation-for="Email"/>
            </div>
            @if (Model.FacultyId is not null)
            {
                <div class="form-group">
                    <label asp-for="FacultyName">Факультет</label>
                    <input class="form-control" asp-for="FacultyName" disabled/>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="FacultyName">Факультет</label>
                    <input class="form-control" value="-" disabled>
                </div>
            }

            <div class="text-danger" asp-validation-summary="All"></div>
            <button type="submit" class="btn mt-1 btn-primary btn-block">Сохранить</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}