@model Admission.DTOs.RpcModels.AdmissionService.GetAdmissionGroups.AdmissionGroupResponse

@{

}
<div class="card">
    <div class="card-body d-flex flex-column">
      <div class="mr-1">
            @Model.CreateTime
        </div>
        <div class="mr-1">
            @Model.Status
        </div>
    </div>
</div>